<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'/layout/Layout'">
<head>
<title>Cadastro de Estilo</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Estilo</h1>
			</div>
		</div>

		<form method="POST" class="form-vertical js-form-loading">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="nome">Nome</label> <input id="nome" type="text"
								class="form-control">
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-primary" type="submit">Salvar</button>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>